*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "spotify-circular";
}

.debug{
  border:1px solid white;
}

@font-face {
  font-family: 'spotify-circular';
  src: url('https://open.scdn.co/fonts/CircularSpUIv3T-Light.woff2') format('woff2'), url('https://open.scdn.co/fonts/CircularSpUIv3T-Light.woff') format('woff'),
  url('https://open.scdn.co/fonts/CircularSpUIv3T-Light.ttf') format('truetype');
}

.global{
  background-image: linear-gradient(to right bottom, rgb(67, 66, 87), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
  height: calc(100vh - 100px);
  max-width: 100%;
  display:flex;
  flex-direction: row;
  /* margin-bottom: 100px; */
  overflow-y: scroll;
}

.logo img{
  filter:invert(1);
  width:80%;
}

p{
  color:white;
}

.nav-laterale{
  height: calc(100vh - 100px);
  width:12%;
  background-image: linear-gradient(to right bottom, rgb(67, 66, 87), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 50%);
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  position:fixed;
  top:0;
  padding:0 24px;
}

.menu{
  height: 80%;
}

.menu ul{
  list-style-type: none;
}

.menu ul li{
  color:white;
  font-weight: bold;
}

.install-app{
  color:white;
  border-bottom: 1px solid rgba(163, 163, 163, 0.75)
}

.global-song{

  width: 88%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left:12%;
}

.top-nav-orizzontale{
  padding:50px;
}

.ul_top-nav-flex{
  display:flex;
}

.top-nav-orizzontale ul{
 list-style-type:none;
}
.top-nav-orizzontale ul li{
  display:inline-block;
}

.top-nav-orizzontale ul li a{
  text-decoration: none;
  opacity: .7;
  color:white;
  padding-right: 20px;
  font-weight: bold;
}

.top-nav-orizzontale ul li a:hover{
  opacity:1;
}


.blocco-song{
  width: 100%;
  display:flex;
  justify-content: space-between;

  flex-direction: column;
  padding: 50px;
}

.title{
  display:flex;
  justify-content: space-between;
  align-items: center;
}


.title a{
  text-decoration: none;
  color:white;
  font-weight: bold;
}

.title a:first-child{
  font-size: 50px;
  font-weight: bold;
}

.title a:last-child{
  opacity:.7;
}

.title a:last-child:hover{
  opacity:1;
}


.img{
  display: flex;
  justify-content: space-around;
}

.flex-item-img{
  width: 200px;
  height: 200px;
  background-image: url(../img/queen.jpg);
  background-size: cover;
  background-position: center;
  transition: background 2s;
}

.img .flex-item-img:nth-child(2){
  background-image: url(../img/skillet.jpg)
}
.img .flex-item-img:nth-child(3){
  background-image: url(../img/gianna-nannini.jpg)
}
.img .flex-item-img:nth-child(4){
  background-image: url(../img/rappa-ternt-sanga-508a96ed2b83d.jpg)
}
.img .flex-item-img:nth-child(5){
  background-image: url(../img/wp2646843.jpg)
}

.overlay{
  width: 100%;
  height: 100%;
  display:none;
  position:relative;
  transition:2s ;
}

.overlay i{
  font-size: 50px;
  color:white;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%)
}


.flex-item-img:hover .overlay{
  display:inline-block;
  background: rgba(24, 27, 25, 0.46) ;
  transition:2s ;
}

.player{
  display:flex;
  background-color: #282828;
  width: 100%;
  height: 100px;
  position:fixed;
  bottom:0;
}
