/* NOTE: regole generali */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "spotify-circular";
}

.debug{
  border:1px solid white;
}

@font-face {
  font-family: 'spotify-circular';
  src: url('https://open.scdn.co/fonts/CircularSpUIv3T-Light.woff2') format('woff2'), url('https://open.scdn.co/fonts/CircularSpUIv3T-Light.woff') format('woff'),
  url('https://open.scdn.co/fonts/CircularSpUIv3T-Light.ttf') format('truetype');
}

.global{
  background-image: linear-gradient(to right bottom, rgb(18, 87, 49), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
  height: calc(100vh - 100px);
  max-width: 100%;
  display:flex;
  flex-direction: row;
  overflow-y: scroll;
}
/* /NOTE: regole generali */

 /* NOTE: navbar-laterale */

.logo img{
  filter:invert(1);
  margin-top: 5px;
}

.nav-laterale{
  height: calc(100vh - 100px);
  width:15%;
  background-color: rgba(0,0,0,.8);
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  position:fixed;
  top:0;
  padding:0 24px;
  z-index: 200;
}

.logomobile{
  display:none
}


.menu{
  height:80%;
}
.menu ul{
  list-style-type: none;
  height:25%;
  min-height: 150px;
}

.menu .ul_menu li{
  color:white;
  font-weight: bold;
  margin-bottom: 20px;
  position:relative;
  margin-left: 30px;
  padding-top: 10px;
}

.menu .ul_menu li::before{
  content:"";
  width: 30px;
  height: 30px;
  background:url(../img/svg3.svg);
  display:inline-block;
  color:white;
  margin-right: 20px;
  position:absolute;
  left:-40px;
  top:2px;
}

.menu .ul_menu li:nth-child(2)::before{
  background: url(../img/svg4.svg)
}
.menu .ul_menu li:nth-child(3)::before{
  background: url(../img/svg6.svg);
}

.create-playlist{
  color:grey;
  height:75%;
  min-height: 200px;
}

.create-playlist h5{
  font-weight: bold;
  margin-bottom:20px;
}

.create-playlist span{
  position:relative;
  margin-left: 35px;
  font-weight: bold;
}

.create-playlist span::before{
  content:"";
  width: 30px;
  height: 30px;
  background:url(../img/svg8.svg);
  display:inline-block;
  color:white;
  margin-right: 20px;
  position:absolute;
  left:-43px;
  top:-4px;
}

.overflow_ul{
  overflow-y: scroll;
  height: 65%;
  margin-top: 20px;
  border: 1px solid grey;
}

 .overflow_ul ul {
  list-style-type: none;
}

.overflow_ul ul li{
  margin-bottom:10px;
}

 .create-playlist .overflow_ul ul li::before{
  content:"+";
  color:grey;
  margin-right:10px;
}

.install-app{
  color:white;
  height:10%;
}

.install-app span i{
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.profile{
  padding-top: 15px;
  border-top: 1px solid rgba(163, 163, 163, 0.75);
}

.profile span{
  color:white;
  position:relative;
  margin-left: 38px;
  font-weight: bold;
}

.profile span:before{
  content:"";
  width:25px;
  height: 25px;
  background:url(../img/profile.jpeg);
  background-size: cover;
  background-position: center;
  position:absolute;
  top: -3px;
  left:-38px;
  display:inline-block;
  border-radius: 50%;
}
/* /NOTE: navbar-laterale */

 /* NOTE: navbar superiore  */

.top-nav-orizzontale{
  padding:50px;
}

.ul_top-nav-flex{
  display:flex;
}

.top-nav-orizzontale ul{
 list-style-type:none;
}

.top-nav-orizzontale ul li{
  display:inline-block;
  padding-right: 20px;
}

.top-nav-orizzontale ul li a{
  text-decoration: none;
  opacity: .7;
  color:white;
  font-weight: bold;
  position:relative;
}

.top-nav-orizzontale ul li a:hover{
  opacity:1;
}

.line{
  width:30px;
  height: 2px;
  background: rgb(43, 209, 35);
  text-align: center;
  position:absolute;
  top:120%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.top-nav-orizzontale ul li:not(:first-child) a .line{
  visibility: hidden;
}

.top-nav-orizzontale ul li a:hover .line{
  visibility: visible;
}

.navbar-oriz-drop{
  display:none;
}
/* /NOTE: navbar superiore  */

/* NOTE: blocco canzoni  */
.global-song{
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left:15%;
}


.blocco-song{
  padding: 40px;
}

.title{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.title a{
  text-decoration: none;
  color:white;
  font-weight: bold;
}

.title a:first-child{
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}

.title a:last-child{
  opacity:.7;
}

.title a:last-child:hover{
  opacity:1;
}

.img{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-item-img{
  width: calc((100% / 5) - 40px);
  height: auto;
  position:relative;
}

.flex-item-img img{
  width: 100%;
  height: 100%;
}

.overlay{
  width: 100%;
  height: 100%;
  display:none;
  position:absolute;
  top:0;
  left:0;
}

.overlay i{
  font-size: 50px;
  color:white;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%)
}

.overlay i:hover{
  font-size: 55px;
}

.flex-item-img:hover .overlay{
  display:inline-block;
  background: rgba(24, 27, 25, 0.46) ;
}
/* /NOTE: blocco canzoni  */

/* NOTE: player */

.player{
  display:flex;
  background-color: #282828;
  width: 100%;
  height: 100px;
  position:fixed;
  bottom:0;
  z-index: 999;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

}

.song-play{
min-width: calc(100% / 3 )
}

.song-play img{
 width:60px;
 margin-left: 20px;
 vertical-align: middle;
}

.song-play ul{
  display:inline-block;
  list-style: none;
  margin-left: 15px;
  vertical-align: middle;
}

.song-play ul li:first-child{
  color:white;
  font-weight: bold;
  letter-spacing: 1px;
}
.song-play ul li:last-child{
  color:white;
  opacity: .4;
  font-weight: bold;
}

.song-play i{
  margin-left: 50px;
  color:white;
  opacity: .4;
}

.song-play i:hover{
  opacity:1;
}

.player-first{
  display:flex;
  flex-direction: column;
  min-width: calc(100% / 3 );
}

.player-first ul{
 list-style-type: none;
 margin-bottom: 10px;
}

.player-first ul li{
  display:inline-block;
  font-size: 20px;
}

.player-first ul li i{
  color:grey;
  margin-right: 25px;
}
.player-first ul li i:hover{
  color:white;

}

.player-first ul li:nth-child(3) i{
  border:1px solid grey;
  border-radius: 50%;
  padding: 10px;
}
.player-first ul li:nth-child(3) i:hover{
  border-color:white;
}

#bars {
    height: 30px;
    width: 240px;
    position:relative;
    border-bottom: 1px solid grey;
}

.bar {
   background: #216b36;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 5px;
    animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 28px;
    }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 7px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 13px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 19px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 23px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 29px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 35px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 41px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 47px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 53px; animation-duration: 442ms; }​
.bar:nth-child(11) { left: 59px; animation-duration: 474ms; }
.bar:nth-child(12) { left: 65px; animation-duration: 433ms; }
.bar:nth-child(13) { left: 71px; animation-duration: 407ms; }
.bar:nth-child(14) { left: 77px; animation-duration: 458ms; }
.bar:nth-child(15) { left: 83px; animation-duration: 400ms; }
.bar:nth-child(16) { left: 89px; animation-duration: 427ms; }
.bar:nth-child(17) { left: 95px; animation-duration: 441ms; }
.bar:nth-child(18) { left: 101px; animation-duration: 419ms;}
.bar:nth-child(19) { left: 107px; animation-duration: 487ms; }
.bar:nth-child(20) { left: 113px; animation-duration: 442ms; }​
.bar:nth-child(21) { left: 119px; animation-duration: 474ms; }
.bar:nth-child(22) { left: 125px; animation-duration: 433ms; }
.bar:nth-child(23) { left: 131px; animation-duration: 407ms; }
.bar:nth-child(24) { left: 137px; animation-duration: 458ms; }
.bar:nth-child(25) { left: 143px; animation-duration: 400ms; }
.bar:nth-child(26) { left: 149px; animation-duration: 427ms; }
.bar:nth-child(27) { left: 155px; animation-duration: 441ms; }
.bar:nth-child(28) { left: 161px; animation-duration: 419ms; }
.bar:nth-child(29) { left: 167px; animation-duration: 487ms; }
.bar:nth-child(30) { left: 173px; animation-duration: 442ms; }​
.bar:nth-child(31) { left: 179px; animation-duration: 474ms; }
.bar:nth-child(32) { left: 185px; animation-duration: 433ms; }
.bar:nth-child(33) { left: 191px; animation-duration: 407ms; }
.bar:nth-child(34) { left: 197px; animation-duration: 458ms; }
.bar:nth-child(35) { left: 203px; animation-duration: 400ms; }
.bar:nth-child(36) { left: 209px; animation-duration: 427ms; }
.bar:nth-child(37) { left: 215px; animation-duration: 441ms; }
.bar:nth-child(38) { left: 221px; animation-duration: 419ms; }
.bar:nth-child(39) { left: 227px; animation-duration: 487ms; }
.bar:nth-child(40) { left: 233px; animation-duration: 442ms; }​


.player-second{
  min-width: 33.3%;
}

.player-second ul li{
  list-style-type: none;
  display:inline-block;
}
.player-second ul li i{
  color:grey;
  padding-right: 10px;
}
.player-second ul li i:hover{
  color:white;
}

.player-second ul li:last-child i{
  position:relative;
  padding-right: 100px;
}

.player-second ul li:last-child i::after{
  content:"";
  width: 70px;
  height:3px;
  background:grey;
  display:inline-block;
  margin-left: 15px;
  position:absolute;
  border-radius: 1px;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);

}

.player-second ul li:last-child i:active::after{
  animation : volume 3s linear;
}

@keyframes volume {
  0%{
    width:70px;
  }

  100%{
    width:10px;
  }
}

/* /NOTE: player */

/* NOTE: mediaquery
scaletta:
 regole generali
 navlaterale
 navorizzontale
 blocco canzoni
 player*/

@media screen and (min-width: 1200px) {
  .logo{
    max-width: 70%;
  }
}

@media screen and (max-width: 1199px) {

  .global{
    background-image: linear-gradient(to right bottom, rgb(208, 116, 41), rgb(0,0,0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
  }

  .nav-laterale,
  .title{
    font-size: 80%;
  }

  .nav-laterale{
    width: 20%;
  }

  .global-song{
    width: 80%;
    margin-left:20%;
  }

  .title a:first-child{
    font-size: 35px;
    font-weight: bold;
  }

  .img .flex-item-img:nth-child(5){
    display:none;
  }

  .flex-item-img{
    width: calc((100% / 2) - 120px);
    margin-bottom: 20px;
  }

  .bar {
     background: rgb(208, 116, 41);
  }

}
@media screen and (max-width: 999px) {
  .global{
    background-image: linear-gradient(to right bottom,rgb(212, 195, 181) , rgb(189, 52, 39)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
  }

  .top-nav-orizzontale{
    width:100%;
    padding:30px;
  }

  .top-nav-orizzontale ul{
    display: none;
  }

  .navbar-oriz-drop .global-drop:hover .dropdown-cont{
    display:inline-block;
    position:absolute;
    top:42px;
    left:13px;
    color:grey;
    z-index:100;
  }

  .navbar-oriz-drop{
    display:block;
    justify-content: flex-start;
    position:relative;
  }

  .dropdown-cont{
    display:none;
  }

  .dropdown-cont ul{
    display:block;
  }

  .dropdown-cont ul.ul-drop-cont li{
    display: block;
    width: auto;
    border:2px solid white;
    transform-origin: top left;
    margin-bottom: 1px;
  }

  .dropdown-cont ul.ul-drop-cont li:hover {
    border : 2px solid rgb(189, 52, 39);
    color:white;
  }

  .dropdown-cont ul.ul-drop-cont li:nth-child(1) {
    background-color: rgba(0,0,0,.8);
    padding:10px;
    animation-name: Toptobottom;
    animation-duration: 400ms;
    animation-delay: -150ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  .dropdown-cont ul.ul-drop-cont li:nth-child(2) {
    background-color: rgba(0,0,0,.8);
    padding:10px;
    animation-name: Toptobottom;
    animation-duration: 400ms;
    animation-delay: 0ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  .dropdown-cont ul.ul-drop-cont li:nth-child(3) {
    background-color: rgba(0,0,0,.8);
    padding:10px;
    animation-name: Toptobottom;
    animation-duration: 400ms;
    animation-delay: 150ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  .dropdown-cont ul.ul-drop-cont li:nth-child(4) {
    background-color: rgba(0,0,0,.8);
    padding:10px;
    animation-name: Toptobottom;
    animation-duration: 400ms;
    animation-delay: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  .dropdown-cont ul.ul-drop-cont li:nth-child(5) {
    background-color: rgba(0,0,0,.8);
    padding:10px;
    animation-name: Toptobottom;
    animation-duration: 400ms;
    animation-delay: 450ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  .dropdown-cont ul.ul-drop-cont li:nth-child(6) {
    background-color: rgba(0,0,0,.8);
    padding:10px;
    animation-name: Toptobottom;
    animation-duration: 400ms;
    animation-delay: 600ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  @keyframes Toptobottom {
    0% {
      opacity: 0;
      transform: rotateX(-90deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }

  .title a:first-child{
    font-size: 35px;
    font-weight: bold;
  }

  .blocco-song{
    padding:30px;
  }

  .img .flex-item-img:nth-child(4){
    display:none;
  }

  .flex-item-img{
    width: calc((100% / 3) - 10px);
    margin-bottom: 20px;
  }

  .player{
    justify-content: space-around;
  }

  .bar {
     background: rgb(189, 52, 39);
  }

  .song-play i {
    margin-left: 5px;
  }
}

@media screen and (max-width: 778px) {
  .global{
    background-image: linear-gradient(to right bottom,rgb(194, 173, 31) , rgb(0,0,0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
  }

  .nav-laterale{
    width: 10%;
    justify-content: flex-start;
    align-items: center;
  }

  .logo,
  .menu,
  .create-playlist,
  .install-app,
  .profile{
    display:none;
  }

  .dropdown-from-mobile{
    display:none;
  }

  .logomobile{
    display:inline-block;
    width:30px;
    margin-top: 20px;
  }

  .logomobile:hover .dropdown-from-mobile{
    display:inline-block;
    height: calc(100vh - 100px);
    width:200px;
    position:absolute;
    top:0;
    left:100%;
    background-color: rgba(0,0,0,.8);
    z-index: 999;
    animation:extended-nav 0.4s linear;
  }



  @keyframes extended-nav {
    0%{
      top:0px;
      left:-200%;
    }

    10%{
      top:0px;
      left:-170%;
    }
    20%{
      top:0px;
      left:-140%;
    }

    30%{
      top:0px;
      left:-110%;
    }
    40%{
      top:0px;
      left:-80%;
    }
    50%{
      top:0px;
      left:-50%;
    }
    60%{
      top:0px;
      left:-20%;
    }

    70%{
      top:0px;
      left:10%;
    }
    80%{
      top:0px;
      left:40%;
    }

    90%{
      top:0px;
      left:70%;
    }

    100%{
      top:0px;
      left:100%;
    }

  }

  .menu-dropdown-mobile{
    padding-top:50px;
    padding-right: 10px;
  }

  .ul_menu-dropdown{
    list-style: none;
  }

  .menu-dropdown-mobile .ul_menu-dropdown li{
    color:white;
    font-weight: bold;
    margin-bottom: 20px;
    position:relative;
    margin-left: 30px;
    padding-top: 10px;
  }

  .menu-dropdown-mobile .ul_menu-dropdown li::before{
    content:"";
    width: 30px;
    height: 30px;
    background:url(../img/svg3.svg);
    display:inline-block;
    color:white;
    margin-right: 20px;
    position:absolute;
    left:-40px;
    top:2px;
  }

  .menu-dropdown-mobile .ul_menu-dropdown li:nth-child(2)::before{
    background: url(../img/svg4.svg)
  }
  .menu-dropdown-mobile .ul_menu-dropdown li:nth-child(3)::before{
    background: url(../img/svg6.svg);
  }

  .create-playlist-dropdown-mobile{
    color:grey;
  }

  .create-playlist-dropdown-mobile h5{
    font-weight: bold;
    margin-bottom:20px;
  }

  .create-playlist-dropdown-mobile span{
    position:relative;
    margin-left: 35px;
    font-weight: bold;
  }

  .create-playlist-dropdown-mobile span::before{
    content:"";
    width: 30px;
    height: 30px;
    background:url(../img/svg8.svg);
    display:inline-block;
    color:white;
    margin-right: 20px;
    position:absolute;
    left:-43px;
    top:-4px;
  }

  .overflow_ul-dropdown-mobile{
    overflow-y: scroll;
    height: 250px;
    margin-top: 20px;
    border: 1px solid grey;
  }

   .overflow_ul-dropdown-mobile ul {
    list-style-type: none;
  }

  .overflow_ul-dropdown-mobile ul li{
    margin-bottom:10px;
  }

   .create-playlist-dropdown-mobile .overflow_ul-dropdown-mobile ul li::before{
    content:"+";
    color:grey;
    margin-right:10px;
  }

  .install-app-dropdown-mobile{
    color:white;
    border-bottom: 1px solid rgba(163, 163, 163, 0.75);
    padding: 10px;
    margin-top: 20px;
  }

  .install-app-dropdown-mobile span i{
    font-size: 20px;
    margin-right: 10px;
  }

  .profile-dropdown-mobile{
    margin-top: 15px;
  }

  .profile-dropdown-mobile span{
    color:white;
    position:relative;
    margin-left: 45px;
    font-weight: bold;
  }

  .profile-dropdown-mobile span:before{
    content:"";
    width:25px;
    height: 25px;
    background:url(../img/profile.jpeg);
    background-size: cover;
    background-position: center;
    position:absolute;
    top: -3px;
    left:-38px;
    display:inline-block;
    border-radius: 50%;
  }

  .dropdown-from-mobile .song-play{
    margin-top: 80px;
    position:relative;
    min-height: 30px;
  }

  .dropdown-from-mobile .song-play img{
    width: 25px;
    margin-left: 0;
  }

  .dropdown-from-mobile .song-play::before{
    position:absolute;
    content:"";
    width:20px;
    height: 20px;
    color:white;
    top:6px;
    left:-27px;
    background: url(../img/headphones.svg);
    display:inline-block;
  }

  .top-nav-orizzontale{
    display:none;
  }

  .global-song{
    width: 90%;
    margin-left:10%;
  }

  .blocco-song{
    padding:20px;
  }

  .img .flex-item-img:nth-child(3),
  .img .flex-item-img:nth-child(4){
    display:none;
  }

  .flex-item-img{
    width: calc((100% / 2) - 30px);
    margin-bottom: 0px;
  }

  .title a:first-child{
    font-size: 25px;
    font-weight: bold;
  }

  .player-first{
    max-width: 100%;
  }

  .player{
    justify-content: center;
  }

  .player .song-play,
  .player .player-second{
    display:none;
  }

  .bar {
     background: rgb(194, 173, 31);
  }

}

@media screen and (max-width: 500px) {

  .global{
    background-image: linear-gradient(to right bottom,rgb(132, 60, 196) , rgb(0,0,0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
  }

  .title{
    justify-content: center;
  }

  .title a:last-child{
    display:none;
  }

  .img .flex-item-img:nth-child(2){
    display:none;
  }

  .flex-item-img{
    width: calc(100% - 150px);
    margin-bottom: 0px;
    text-align: center;
  }

  .flex-item-img img{
    width: 100%;
    height: auto;
  }

  .flex-item-img img,
  .flex-item-img .overlay{
    border-radius: 50% 70% ;
  }

  .title a:first-child{
    font-size: 25px;
    font-weight: bold;
  }

  .bar {
     background: rgb(132, 60, 196);
  }

}
